.Form {
    color: var(--dark-slate-grey);
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
  
.Form:focus {
    box-shadow: none;
    border: 1px solid var(--aquamarine);
}

.Line {
    background: var(--aquamarine);
    margin: 25px 0;
}

/* Add, update & cancel comment buttons */
.CommentsButton {
    background-color: #fff;
    color: var(--light-grey);
    box-shadow: 1px 1px 5px var(--aquamarine);
    border-radius: 15px;
    border-color: var(--aquamarine);
    font-weight: bold;
    margin-right: 10px;
    padding: 3px 15px;
}
  
.CommentsButton:hover, 
.CommentsButton:focus {
    background-color: var(--aquamarine) !important;
    color: #fff !important;
    box-shadow: 1px 1px 5px var(--aquamarine) !important;
    border-color: var(--aquamarine) !important;
}