.Button {
    border-radius: 100px;
    border-color: transparent;
    font-size: 0.8rem;
    padding: 4px 9px;
    margin-left: 2px;
    min-width: 70px;
}

.ButtonFollow {
    font-weight: bold;
    background-color: var(--aquamarine);
    box-shadow: 1px 1px 5px var(--aquamarine) !important;
    color: #fff;
}

.ButtonFollow:hover,
.ButtonFollow:focus,
.ButtonFollow:active {
    background-color: #fff !important;
    box-shadow: 1px 1px 5px var(--aquamarine) !important;
    border-color: var(--aquamarine) !important;
    font-weight: bold;
    color: var(--light-grey);
}

.ButtonUnfollow {
    font-weight: bold;
    background-color: #fff;
    color: var(--light-grey);
    box-shadow: 1px 1px 5px var(--aquamarine) !important;
    border-color: var(--aquamarine) !important;
}

.ButtonUnfollow:hover,
.ButtonUnfollow:focus,
.ButtonUnfollow:active {
    background-color:var(--aquamarine) !important;
    border-color: var(--aquamarine) !important;
    box-shadow: 1px 1px 5px var(--aquamarine) !important;
    color: #fff;
}

/* Remove follow/unfollow buttons on medium-small screens */
@media all and (max-width: 991px) {
    .FollowButtonsRemove {
      display: none;
    }
}

/* Adjust display of the follow buttons centered below the username */
@media all and (max-width: 768px) {
    .FollowButtonsRemove {
      display: contents;
    }
}